<div class="content">
 <%#= breadcrumb()%>
  <div class="row">
    <div class="col-12">
      <div class="card card-table-border-none">
        <div class="card-header card-header-border-bottom d-flex justify-content-between">
          <h2> Thẻ đợi thanh toán </h2>
          <%= link_to "New", "", class: "btn btn-outline-primary btn-sm text-uppercase", target: "_blank" %>
        </div>

        <div class="card-body">
          <table class="table card-table table-responsive table-responsive-large" style="width:100%">
            <thead>
              <tr>
                <th> Number </th>
                <th> User </th>
                <th> Nhà mạng </th>
                <th> Mã thẻ</th>
                <th> Serial </th>
                <th> Số tiền</th>
                <th> Trạng thái</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @orders.each do |order| %>
                <%= render "item", object: order %>
              <% end %>
            </tbody>
          </table>
          <div>
            <%= will_paginate( @orders, renderer: WillPaginate::ActionView::BootstrapLinkRenderer )%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
