<div class="content">
 <%#= breadcrumb()%>
  <div class="row">
    <div class="col-12">
      <div class="card card-table-border-none">
        <div class="card-header card-header-border-bottom d-flex justify-content-between">
          <h2> Thẻ đợi thanh toán </h2>
          <%= link_to "New", "", class: "btn btn-outline-primary btn-sm text-uppercase", target: "_blank" %>
        </div>

        <div class="card-body">
          <table id="orders-pending-datatable"  class="table card-table table-responsive table-responsive-large" data-source="<%= list_pending_doi_the_admin_orders_path(format: :json) %>">
            <div class="row mb-2">
              <div class="col-sm-3">
                <%= select_tag :search_nha_mang, options_for_select( Order::NhaMang, {:prompt => 'Tìm theo nhà mạng'} ), class: "form-control"%>
              </div>
            </div>
            <hr/>
            <thead>
              <tr>
                <th> Number </th>
                <th> User </th>
                <th> Nhà mạng </th>
                <th> Mã thẻ</th>
                <th> Serial </th>
                <th> Số tiền</th>
                <th> Trạng thái</th>
                <th> Ngày tạo </th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>