<div class="pt-1 bg-primary">
</div>
<footer class="page-footer font-small blue pt-4 bg1">
  <div class="container">
    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase">Lien he</h5>
          <p> Số 1 - Hồ Thừa, Thừa Thiên Huế</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

      </div>
      <!-- Grid row -->

    </div>
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://mdbootstrap.com/"> TranNguyenBach.com</a>
    </div>
    <!-- Copyright -->
  </div>

</footer>