

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-4 col-12">
                <%= image_tag "logo.png", class: "img-fluid"%>
            </div>
            <div class="col-md-8 col-lg-8 col-12">
                <p style="color: #fff">BẢN QUYỀN THUỘC VỀ SANTHE86.com<br>
                    Hotline: 096.196.36.36 </p>
            </div>
        </div>
    </div>
</footer>