<%= render "shared/topheader" %>

<hr class="bg-primary clearfix m-0">
<header class="">
  <div class="">
    <nav class="navbar navbar-expand-lg navbar-light bg-light container">
      <a class="navbar-brand" href="/">
        <img src="http://tk-themes.net/html-organik/images/logo.png"  class="d-inline-block align-top" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav ml-auto">
          
          <li class="nav-item active">
            <a class="nav-link" href="/">Trang Chủ</a>
          </li>

          <%- if current_user %>
            <li class="nav-item">
              <a class="nav-link" href="/history">Lịch sử giao dịch</a>
            </li>
          <% end %>

          
          <li class="nav-item">
            <a class="nav-link" href="#">Tin tức</a>
          </li>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Hướng Dẫn</a>
          </li>
          <%- if current_user.present? %>
          <li class="nav-item">
            <%= link_to "Nạp tiền vào tài khoản", "/nap-tien", class: "nav-link"%>
          </li>
          <li class="nav-item">
            <%= link_to "Rút tiền", "/rut-tien", class: "nav-link"%>
          </li>
          <li class="nav-item">
            <%= link_to "Chuyển Tiền ", "/chuyen-tien", class: "nav-link"%>
          </li>
          <% end %>
        </ul>
   
      </div>
    </nav>
  </div>
</header>
<div class="pt-1 bg-primary">
</div>

