<%= render "shared/topheader" %>

<hr class="bg-primary clearfix m-0">
<header class="">
  <div class="">
    <nav class="navbar navbar-expand-lg navbar-light bg-light container">
      <a class="navbar-brand" href="/">
        <img src="http://tk-themes.net/html-organik/images/logo.png"  class="d-inline-block align-top" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav ml-auto">
          
          <li class="nav-item active">
            <a class="nav-link" href="/">Trang Chủ</a>
          </li>

          <%- if current_user %>
            <li class="nav-item">
              <a class="nav-link" href="/history">Lịch sử giao dịch</a>
            </li>
          <% end %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dich vụ
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Tin tức</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Chiếc khấu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Hỏi đáp</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Hướng Dẫn</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Nạp tiền vào tài khoản</a>
          </li>
        </ul>
   
      </div>
    </nav>
  </div>
</header>
<div class="pt-1 bg-primary">
</div>