<div id="thongbao" class="modal fade in" tabindex="-1" role="dialog" >
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Thông Báo</h4>
      </div>
      <div class="modal-body">
	   <p>- <span style="color: #ff0000;">Gửi sai mệnh giá sẽ mất 100% thẻ, vì vậy hãy nhìn lại mệnh giá 1 lần nữa trước khi bấm GỬI THẺ tránh mất tiền</span></p>
     <p>- <span style="color: #ff0000;">Nạp sai mệnh giá và sai quá nhiều lần và có hành vi spam sẽ bị hủy thẻ.Vi phạm nhiều = Banned</span></p>
     <p>- <span style="color: #ff0000;">Lưu Ý: Santhe86  Ko Chịu Trách Nhiệm Dưới Mọi Hình Thức Đối Với Các Hình Thức Giả Mạo Trên FaceBook.Hãy Nhớ Kĩ Thông Tin Khi Vào Website Tránh Trường Hợp Bị Các Đối Tượng Xấu Lừa CK Mà Ko Phải STK Từ SanThe86</span></p>
     <p>- <span style="color: #ff0000;"> Nhằm nâng cao hệ thống, nếu gặp lỗi quý khách vui lòng liên hệ  FB ADMIN Nguyễn Đăng Tín
AE Nạp tiền Vào TK LH ZALO 096.196.36.36 </span></p>  
   <p>- <span style="color: #ff0000;"> Vấn đề đại lý phân phối thẻ cào vui lòng liên hệ 096.196.36.36</span></p>  

   <p>- <span style="color: #ff0000;"> Vấn đề nạp thẻ cào lỗi, sai vui lòng liên hệ : 096.196.36.36 </span></p>  
   <p>- <span style="color: #ff0000;"> KẾT BẠN HOẶC THEO DÕI FB ADMIN ĐỂ NHẬN THÔNG BÁO SỚM NHẤT !</span></p>
   <p>- <span style="color: #ff0000;"> GIỜ LÀM VIỆC TỪ 08:00-20:00 HẰNG NGÀY</span></p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.0/jquery.cookie.min.js">
</script>


<script type="text/javascript">
 $(document).ready(function() {
     if ($.cookie('pop') == null) {
          $('#thongbao').modal('show')
         $.cookie('pop', '1');
     }
 });
</script>
