<div class="container">
  <%= render "shared/banner_main" %>

  <div class="row  mt-2">
    <div class="col-md-6">
      <%= render "forms/doi_the_cao" %>
    </div>
    <div class="col-md-6">
      <%= render "forms/ban_tkc" %>
    </div>
  </div>
</div>