<div class="section-title bg-lable2">
  <h3 class="text-center text-light pt-2 pb-2  ">Bắn tài khoản chính</h3>
</div>
<div class="form-content bg2 p-2 form-card" >
  <form id="card" novalidate="novalidate">
    <div class="form-group">
      <select class="form-control valid" name="type2">
        <option value="">Chọn nhà mạng</option>
        <option selected="selected" value="Bắn Viettel">Bắn TKC Viettel (17%)</option>
        <option value="Bắn Vinaphone">Bắn TKC Vinaphone (17%) </option>
        <option value="Bắn Mobifone">Bắn TKC Mobifone (17%) </option>
      </select>
    </div>
    <div class="form-group">
        <input type="number" maxlength="40" id="code12" name="code12" class="form-control txt" placeholder="Nhập số tiền cần bắn Ví dụ : 100000 " title="Nhập số tiền cần bắn Ví dụ : 100000 " style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
    </div>
    <div class="form-group">
      <input type="number" maxlength="40" id="code2" name="code2" class="form-control txt" placeholder="Số điện thoại cần nạp" title="Số điện thoại cần nạp" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
    </div>
    <font color="red">- Chỉ nhận bắn TKC từ 100.000 đ trở lên </font><br>
    <font color="red">- Bắn TKC nhanh, không nhận được tiền khuyến mãi </font><br>
    <font color="red">- Dùng cho những ngày không có khuyến mãi, khách dục nhanh... </font>
    <div class="pt-5">
    </div>
    <div class="form-group divbt">
      <button class="btn btn-spec1 btn-md btn-block btn-success" id="paycard">Bắn Ngay</button>
    </div>
  </form>
</div>


